HOTKEYS ACCELERATORS 
BEGIN
	VK_DELETE, 24320, VIRTKEY, SHIFT
	VK_INSERT, 24321, VIRTKEY, CONTROL
	VK_INSERT, 24322, VIRTKEY, SHIFT
	VK_DELETE, 24323, VIRTKEY
	VK_DELETE, 24324, VIRTKEY, CONTROL
	"^H", 24325, ASCII, ALT
END
